- name: Instalar dependencias de Python para MySQL
  apt:
    name:
      - python3-mysqldb
    state: present

- name: Crear DocumentRoot de Biblioteca si no existe
  ansible.builtin.file:
    path: "{{ app_path }}"
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'

- name: Copiar aplicación Biblioteca
  ansible.builtin.copy:
    src: app_biblio/
    dest: "{{ app_path }}"
    owner: www-data
    group: www-data
    mode: '0644'
    directory_mode: '0755'
  
- name: Crear fichero de configuración config.php dentro de la aplicación Biblioteca
  ansible.builtin.template:
    src: config.php.j2
    dest: "/{{ app_path }}/Config/Config.php"
    owner: www-data
    group: www-data
    
- name: Iniciar y habilitar Nginx
  service:
    name: nginx
    state: started
    enabled: yes

- name: Iniciar y habilitar php-fpm
  service:
    name: php8.4-fpm
    state: started
    enabled: yes
